* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

.header {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
}

.hamberger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-around;
  position: absolute;
  right: 25px;
  top: 25px;
  transition: 0.3s;
  width: 40px;
}

.hidden {
  display: none;
}

#btn-close {
  border: none;
  background-color: #6070ff00;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  position: fixed;
  right: 40px;
  top: 30px;
  z-index: 3;
}

.menu-toggle {
  animation-name: slidein;
  animation-duration: 1s;
  color: #fff;
  display: block;
  font-size: 32px;
  font-weight: 600;
  position: fixed;
  left: 28px;
  top: 50px;
  z-index: 5;
}

.menu-toggle > li {
  color: #fff;
  margin: 20px 0;
}

.menu-toggle > li > a {
  color: #fff;
}

.overlay {
  animation-name: slidein;
  animation-duration: 1s;
  background-color: #001aff9b;
  backdrop-filter: blur(10px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

.line {
  background-color: #6070ff;
  border: 2px solid #6070ff;
  border-radius: 2px;
  margin: 3px;
}

.logo {
  animation: rotate 2s;
  height: 40px;
  justify-content: left;
  margin-top: 10px;
  padding: 0 30px;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
}

.portfolio {
  background-color: #fff;
  background-image: url('./image/header-shapes\ mobile.png');
  background-size: 100%;
  border-radius: 0 0 0 150px;
  padding: 6em 2em;
  width: 100%;
}

h1 {
  align-items: center;
  animation: slide-in 2s ease-in;
  color: #172b4d;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 5px;
  text-align: left;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
  }
}

.description {
  animation: slide-in 2s ease-in;
  animation-delay: 2s;
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.social-icon {
  display: flex;
  justify-content: left;
}

.contact-icon {
  color: #505f79;
  margin: 25px;
  font-size: 40px;
}

.contact-icon:first-child {
  margin-left: 0;
}

.social h3 {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 10px;
  text-transform: uppercase;
}

.info {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  width: 80vw;
}

/* Detail project */
.popup {
  margin: 0 auto;
  justify-content: center;
}

.pop-container {
  background-color: #fff;
  border: 1px solid #091e42;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 2px 5px 0;
  padding: 10px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: 80vw;
  height: 90vh;
  margin-top: -45vh;
  margin-left: -40vw;
  z-index: 10;
}

#close-popup {
  background-color: #fff;
  border: none;
  color: #67798e;
  cursor: pointer;
  display: inline-block;
  position: relative;
  float: right;
  font-size: 18px;
  top: 15px;
  right: 10px;
}

.p-meta {
  display: flex;
  width: 100%;
}

.p-bot {
  display: block;
}

.p-des {
  text-align: justify;
  max-width: 768px;
}

.p-lang {
  align-self: start;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-self: center;
}

.p-img {
  width: 100%;
}

.p-hr {
  margin: 15px 0;
}

.p-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  width: 100%;
}

#p-btn-see,
#p-btn-source {
  align-items: center;
  font-size: 15px;
}

.snap-shoot img {
  transition-duration: 0.5s;
  width: 100%;
}

.project:hover .snap-shoot img {
  transform: scale(1.1, 1.1);
}

#p-btn-see > img,
#p-btn-source > i {
  margin: 0 10px;
  width: 14px;
}

.p-overlay {
  background-color: #c1c7d0aa;
  backdrop-filter: blur(5px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

.p-body {
  overflow: hidden;
  position: fixed;
}

/* Work section */

.work {
  display: grid;
  justify-content: center;
  padding: 25px;
}

.project {
  animation: 3s 1 alternate slidein;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 3px 4px 0 #344563;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 24px;
  padding: 16px;
  width: 90vw;
}

.snap-shoot {
  width: 100%;
}

.pj-title {
  color: #091e42;
  font-size: 32px;
  line-height: 52px;
}

.meta {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;
}

.type {
  color: #344563;
  text-transform: uppercase;
}

.gray {
  color: #6b778c;
}

.meta li {
  margin-right: 10px;
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}

.project-des {
  color: #344563;
  font-size: 15px;
  line-height: 24px;
}

.langue {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
}

.langue li {
  background-color: #ebebff;
  border-radius: 15px;
  color: #6070ff;
  height: auto;
  margin: 10px;
  padding: 5px 15px;
}

.contact-form > ul > li {
  width: 100%;
}

.langue li:first-child {
  margin-left: 0;
}

.btn {
  background-color: #fff;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 15px 0;
  padding: 12px;
  text-align: center;
  transition: 0.5s;
}

.btn:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.btn:focus {
  background-color: #2230d2;
  color: #fff;
}

.btn:active {
  border-color: #5e6c84;
  color: #5e6c84;
}

/* About section */

.about {
  background-color: #fff;
  border-radius: 0 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 5rem 2rem;
  width: 100%;
}

.about-info {
  max-width: 450px;
  width: 100%;
}

.about-info h2 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
}

.about-des {
  color: #344563;
  font-size: 16px;
  margin-bottom: 15px;
}

.background {
  display: block;
  flex-grow: 1;
  font-size: 20px;
  font-weight: 500;
  min-width: 327px;
}

.bg {
  align-items: center;
  border-bottom: 1px solid #dfe1e6;
  display: block;
  padding: 15px 0;
}

.icon {
  cursor: pointer;
  position: absolute;
  right: 50px;
  width: 15px;
}

.i-actived {
  transform: rotate(90deg);
}

.lang-box {
  align-items: center;
  background-color: #f7f7f9;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  margin: 6px 12px;
  padding: 6px 12px;
}

.lang-icon {
  width: 48px;
}

.lang {
  color: #253858;
  font-size: 15px;
  margin: 25px 0;
}

/* Contact section */

.contact {
  background-color: #fff;
}

.contact-box {
  background-color: rgba(96, 112, 255, 1);
  background-image: url('./image/contact-form-shapes-mobile.png');
  background-position: right top;
  background-repeat: no-repeat;
  border-radius: 70px 0 0;
  display: grid;
  justify-items: center;
  padding: 50px 40px;
}

.form-header {
  color: #fff;
  max-width: 570px;
  text-align: center;
  width: 100%;
}

.contact-header {
  font-size: 40px;
  font-weight: 700;
}

.contact-text {
  font-size: 20px;
}

.contact-form {
  margin-top: 40px;
  width: 100%;
}

.contact-form > ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.input {
  border: 0;
  border-radius: 8px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  height: 48px;
  margin: 10px 0;
  max-width: 400px;
  padding: 15px;
  width: 100%;
}

.tx-area {
  height: 170px;
}

.contact-form > ul > li:last-child {
  display: flex;
  align-items: center;
  max-width: 400px;
}

.contact-form > ul > li:last-child > small {
  color: red;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
  }

  .menu li {
    list-style-type: none;
  }

  .menu li a {
    color: #344563;
    display: block;
    font-size: 15px;
    line-height: 1;
    padding: 40px 25px;
    transition: 0.3s;
  }

  .menu li a:hover {
    box-shadow:
      0 -5px 0 #fff inset,
      500px 0 0 rgba(201, 42, 250, 0.2) inset;
    padding: 35px 25px 45px;
  }

  .hamberger {
    cursor: pointer;
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
    transition: 0.3s;
    width: 40px;
  }

  .line {
    background-color: #6070ff;
    border: 2px solid #6070ff;
    border-radius: 2px;
    margin: 3px;
  }

  .logo {
    height: 40px;
    justify-content: left;
    padding: 0 30px;
  }

  .portfolio {
    background-image: url('./image/Header_bg.svg');
    padding: 20%;
  }

  h1 {
    font-size: 48px;
  }

  .description {
    font-size: 20px;
  }

  /* Work section */

  .work {
    margin-top: 140px;
    padding: 0;
  }

  .project {
    margin: 30px auto;
    width: 100%;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .snap-shoot {
    max-width: 550px;
    width: 80vw;
  }

  .snap-shoot img {
    width: 100%;
  }

  .info {
    max-width: 550px;
    padding: 20px 10px 50px;
  }

  .pj-title {
    font-size: 40px;
  }

  .meta {
    font-size: 18px;
  }

  .project-des {
    color: #344563;
    font-size: 16px;
    line-height: 24px;
  }

  .langue {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  /* About section */

  .about {
    padding: 8rem;
    width: 100%;
  }

  .about-info {
    max-width: 450px;
    padding: 20px;
  }

  .icon {
    right: 9rem;
  }

  .lang {
    display: flex;
  }

  .lang-box {
    flex-direction: column;
    align-items: flex-start;
    height: 120px;
    margin: 6px;
    width: 122px;
  }

  /* Contact section */

  .contact {
    background-color: #fff;
  }

  .contact-box {
    background-image: url('./image/dt_contact-form-background-shapes.svg');
    background-position: center;
    background-size: 80%;
  }

  .contact-form > ul > li:last-child,
  .contact-form > ul > li:last-child > small
  {
    display: block;
  }

  .p-bot {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
  }

  .p-des {
    margin-bottom: 50px;
  }

  .p-img {
    margin: 50px 0;
  }
}
